<!DOCTYPE html>
<html>
  <head>
    <title>Info</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <img src="https://i.ibb.co/6Nc4Y19/Screenshot-2.png"></img>
  <body>
<h1>Información de Integrantes</h1>
<h2>Yetzenia Mendoza</h2>
<h2>Alfonso Castellano</h2>
<h2>Adolfo Ochoa</h2>
<h2>Fernando Colmenares </h2>


  </body>
</html>